{% extends 'common/base.html' %}

{% block content %}
    
    <div class="search">
    
        <form method="get" action="{% url 'search' %}" class="search-form">
            <input type="text" name="q" placeholder="Search for a movie..." value="{{ query }}">
            <button type="submit">Search</button>
        </form>
    
        {% if movies %}
            <div class="movies-results">

            <h2>Results for "{{ query }}"</h2>
            
            <div class="movies-grid">
                {% for movie in movies %}
                    
                    <div class="movie-card">
                        {% if movie.Poster != "N/A" %}
                            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
                        {% endif %}
                        <strong>{{ movie.Title }}</strong>
                        <p>{{ movie.Year }}</p>
                        <p><a href="{% url 'detail' movie.imdbID %}">View Details</a></p>
                    </div>
                    
                {% endfor %}
            </div>
            
        {% else %}
            
            {% if query %}
                <p>No results found for "{{ query }}"</p>
            {% endif %}
            
        {% endif %}
        </div>
    
    </div>
{% endblock %}